# FRONTEND (Angular / Node)
**/node_modules/
**/dist/
**/.angular/
npm-debug.log*

# BACKEND (Python / PyTorch)
# Entornos virtuales
**/venv/
**/.venv/
env/

# Caché de Python
**/__pycache__/
*.py[cod]
*$py.class

# INTELIGENCIA ARTIFICIAL
# Ignorar los modelos entrenados (¡Son muy pesados y cambian en cada PC!)
*.pth
*.pt
*.onnx

# Descomentar la siguiente línea SOLO si el dataset pesa más de 50MB
# backend/dataset.json 
# backend/*.csv

# EDITORES Y SISTEMA 
.vscode/
.idea/
.DS_Store
Thumbs.db

# VARIABLES DE ENTORNO LOCALES (Secretos y configuraciones de cada PC)
.env
*.env

# ARCHIVOS PERSONALES / LOCALES
COMMANDS.md
backend/labels.json
